<%= text_f f, :name if show_vm_name? %>
<%= select_f f, :size, compute_resource.flavors, :slug, :slug, {}, {:label => _('Flavor')}  %>
<div id='image_selection'>
  <%= select_image(f, compute_resource) %>
</div>
